<!DOCTYPE html>
<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
    div.a {
        text-align: center;
    }
</style>
<head>
    <title>Project</title>
</head>
<body>
 <div class="collapse bg-inverse navbar-dark bg-dark " id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-inverse navbar-dark bg-dark">
      <div class="container d-flex justify-content-between">
        <a href="http://lacodeid.com/" class="navbar-brand">Project Details</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>

    <section class="jumbotron text-center">
      <div class="container">
        <h3 class="jumbotron-heading">Project Title</h3>
        <form action="/action_page.php">
            <label for="fname">Description:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname">Budget:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <input type="submit" value="Update">
          </form>
        <p class="lead text-muted"></p>
      </div>
    </section>

    <div class="container">
        <div class="a">
          <div class="card">
            <p class="card-text">Production</p>
          </div>
          <div class="card">
            <p class="card-text">Operating</p>
          </div>
          <div class="card">
            <p class="card-text">Financial</p>
          </div>
          <div class="card">
            <p class="card-text">Vendor</p>
          </div>
          <div class="card">
            <p class="card-text">Manpower</p>
          </div>
          <div class="card">
            <p class="card-text">Software</p>
          </div>
          <div class="card">
            <p class="card-text">Hardware</p>
        </div>
    </div>
        


</body>
</html>
