<!DOCTYPE html>
<html>
  <body>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link rel="stylesheet" href="{{ url_for('static',filename='loginPage.css') }}" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
          <h4>Please input your credentials</h4>
        </div>

        <!-- Login Form -->
        <form method = "POST" , actions = "">
          {{form.hidden_tag()}}
          {{form.username}}
          {{form.password}}
          <br>
          {{form.submit}}
          
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="{{url_for('register_page')}}">New User? Register here</a>
        </div>
      </div>
    </div>
  </body>
</html>
